---
layout: default
---

<div class="home">

  <header class="post-header">
    <h1 class="post-title">About</h1>
</header>
<p>I am assistant professor of English at the University of Miami. I research and teach at the intersections of contemporary literature, cultural and media studies, and the digital humanities. In particular, my work focuses on the rhetorical, political, and aesthetic dimensions of public discourse, and I teach classes on contemporary literature and the digital humanities. I'm currently working on a book manuscript about how the national security state uses fiction to produce knowledge about future threats, titled "Training for Catastrophe: National Security and the Use of Fiction After 9/11." I'm also a co-director of <a href="http://we1s.ucsb.edu/", target="_blank">WhatEvery1Says</a>, a project that examines contemporary public discourse about the humanities on a large scale.</p>

<p>Find me on <a href="https://twitter.com/lindsaycthomas", target="_blank">Twitter</a>, on <a href="https://github.com/lcthomas", target="_blank">Github</a>, or via <a href="mailto:lindsaythomas@miami.edu">email</a>.</p>


</div>
