---
layout: default
---

<div class="home">

  <header class="post-header">
    <h1 class="post-title">About</h1>
</header>
<p>I am Assistant Professor of English at the University of Miami. I research and teach at the intersections of cultural and media studies, contemporary US literature, and the digital humanities. My book is <a href="https://www.upress.umn.edu/book-division/books/training-for-catastrophe" target="_blank"><i>Training for Catastrophe: Fictions of National Security after 9/11</i></a> (University of Minnesota Press, 2021). I'm also a co-director of <a href="http://we1s.ucsb.edu/", target="_blank">WhatEvery1Says</a>, a project that employs machine learning techniques to examine contemporary public discourse about the humanities on a large scale.</p>

<p>Find me on <a href="https://twitter.com/lindsaycthomas", target="_blank">Twitter</a>, on <a href="https://github.com/lcthomas", target="_blank">Github</a>, or via <a href="mailto:lindsaythomas@miami.edu">email</a>.</p>


</div>
